@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body {
    font-family: Outfit;
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.menu {
    background-color: #ffffff;
    border-bottom: 1px #333;
    overflow: hidden;
    padding: 10px 60px;
    align-items: center;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    padding: 12px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}

.menu a:hover {
    background-color: #82ebeb9d;
    color:rgb(0, 0, 0);
}


.seccion {
    display: inline-table;
    border: 1px solid blue;
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.seccion:hover {
    background-color: #82ebeb4b;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
