body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    top: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    background-color: #1f0870;
}

.seccion {
    display: inline-block;
    border: 1px solid blue;
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.seccion:hover {
    background-color: #ccc;
}
